<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788980767026-25kvvninft7e6gr73vum6vvjbtuijr9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788980767026-25kvvninft7e6gr73vum6vvjbtuijr9n</string>
	<key>API_KEY</key>
	<string>AIzaSyArr8toqwu7Evamg7dezeJrNEJXqhm_5mc</string>
	<key>GCM_SENDER_ID</key>
	<string>788980767026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ParkingApp.ParkingApp</string>
	<key>PROJECT_ID</key>
	<string>parkingappios-d7b80</string>
	<key>STORAGE_BUCKET</key>
	<string>parkingappios-d7b80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788980767026:ios:dcbe27807ff12c62569f2b</string>
</dict>
</plist>